body, div {
	margin: 0;
	padding: 0;
}
body {
	
	font-family: Arial, sans-serif; 
	font-size: 16px;
}
img { 
	float: left; 
	margin-right: 50px; 
}

#entete-de-page {
	padding: 5px;
	height: 100px;
	font-size: 32px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}
#bloc-menu {
	height: 36px;
	float: center;
	width:50%
}
#contenu {
	padding: 10px;
	
}

}
#pied-de-page {
	padding: 5px;
	background-color: lightgrey;
	font-size: 11px;
}

	